* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing:antialiased;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header{
  margin: 84px 0 24px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left:7px ;
}

.container header div{ 
  display: flex;
 align-items: center;
}



.container input{
  width: 50%;
  padding: 24px;
  background: #E6E6E6;
  border-radius: 5PX;
  border: none;
  font-size: 16px;
}

.container button{
  width: 50%;
  padding: 24px;
  font-weight: 700;
  background: #EA4C89;
  color: #FFFF;
  border-radius: 5px;
  margin: 12px 0 84px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
  font-size: 16px;
}


.container button:hover{
  filter: brightness(0.9);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


